/* document global */
:root {
	--text: rgb(0, 100, 50);
	--base-bk: rgba(0, 120, 50, 0.85);
	--max-width: 960px;
	--h1: 36px;
	--h2: 24px;
	--caption: 18px;
	--padding: 3em;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--text);
	/* background-color:rgb(0, 150, 50); */
	min-width: 360px;
	margin: 0;
}

/* navigation bar */
header {
	width: 100%;
	position: sticky;
	top: 0px;
	z-index: 1;
}
nav {
	width: 100%;
	background-color: var(--base-bk);
	position: relative;
}
nav img {
	padding: 0.5em;
	height: 2em;
}
button {
	border: 0;
	color: white;
	background-color: transparent;
	position: absolute;
	top: 0.5em;
	right: 0;
	font-size: 1.5em;
}
nav ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
.toggle {
	display: block;
}
li {
	text-align: center;
}
li a {
	display: block;
	text-decoration: none;
	padding: 0.5em;
	color: white;
}
li a:hover {
	text-decoration: underline;
}
/* home */
#home {
	/* margin: 3em auto; */
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: var(--padding);
}
#home h1 {
	margin: 0;
	text-transform: uppercase;
	font-size: var(--h1);
	font-weight: 100;
	/* border-bottom: 1px solid var(--base-bk); */
}
#home img {
	width: 140px;
}
#home p {
	text-align: center;
}

/* gallery */

#gallery {
	margin: 0 auto;
	max-width: var(--max-width);
	height: 400px;
	position: relative;
	overflow: hidden;
	padding-top: var(--padding);
}
#gallery h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: var(--h2);
	font-weight: 100;
	border-bottom: 1px solid var(--base-bk);
}
#gallery img {
	display: block;
	position: absolute;
	transform: translateX(100%);
	width: 100%;
	height: auto;
	object-fit: cover;
}

#gallery img:nth-of-type(1) {
	animation: loop 100s ease-in infinite;
}
#gallery img:nth-of-type(2) {
	animation: loop 100s ease-in infinite 10s;
}
#gallery img:nth-of-type(3) {
	animation: loop 100s ease-in infinite 20s;
}
#gallery img:nth-of-type(4) {
	animation: loop 100s ease-in infinite 30s;
}
#gallery img:nth-of-type(5) {
	animation: loop 100s ease-in infinite 40s;
}
#gallery img:nth-of-type(6) {
	animation: loop 100s ease-in infinite 50s;
}
#gallery img:nth-of-type(7) {
	animation: loop 100s ease-in infinite 60s;
}
#gallery img:nth-of-type(8) {
	animation: loop 100s ease-in infinite 70s;
}
#gallery img:nth-of-type(9) {
	animation: loop 100s ease-in infinite 80s;
}
#gallery img:nth-of-type(10) {
	animation: loop 100s ease-in infinite 90s;
}

@keyframes loop {
	0% {
		transform: translateX(100%);
	}
	1% {
		transform: translateX(0%);
	}
	10% {
		transform: translateX(-0%);
	}
	11% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

/* treatments */

#treatments {
	color: var(--text);
	margin: 0 auto;
	max-width: var(--max-width);
	padding-top: var(--padding);
}
#treatments table caption {
	font-size: var(--caption);
	margin: 1em;
}
#treatments h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: var(--h2);
	font-weight: 100;
	border-bottom: 1px solid var(--base-bk);
}
#treatments table {
	border: 1px solid var(--base-bk);
	width: 100%;
	border-collapse: collapse;
}
thead tr *,
tbody tr *,
tfoot tr * {
	padding: 0.5em;
}
thead,
tfoot {
	color: white;
	background-color: var(--base-bk);
}
thead tr:last-of-type {
	color: var(--base-bk);
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
}
thead tr:last-of-type th {
	text-align: start;
}
tbody tr {
	border-bottom: 1px dotted var(--base-bk);
}

/* social */

#social {
	color: var(--text);
	margin: 0 auto;
	max-width: var(--max-width);
	padding-top: var(--padding);
}
#social h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: var(--h2);
	font-weight: 100;
	border-bottom: 1px solid var(--base-bk);
}
#social ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}
#social ul li a {
	font-size: 2em;
	text-decoration: none;
	padding: 1em;
	display: block;
	color: var(--text);
}

/* contact */
#contacts {
	padding-top: var(--padding);
}
#contacts h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: var(--h2);
	font-weight: 100;
	border-bottom: 1px solid var(--base-bk);
}

#contacts ul {
	border: 1px solid var(--base-bk);
	color: var(--text);
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 3em auto;
	max-width: var(--max-width);
}
#contacts ul li {
	padding: 1em;
}

/* footer */

footer {
	background-color: var(--base-bk);
}
footer ul {
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}
footer ul li a {
	font-size: 1.6em;
	text-decoration: none;
	padding: 0.5em 1em;
	display: block;
	color: white;
}

@media only screen and (min-width: 420px) {
	/* navigation */
	button {
		display: none;
	}
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.toggle {
		list-style: none;
		padding: 0;
		display: flex;
	}
	li {
		width: fit-content;
	}

	/* header */
	#home {
		margin: 3em auto;
	}
	#home h1 {
		font-size: 65px;
	}
	#home img {
		width: 200px;
	}
	/* gallery */
	#gallery {
		height: 60vh;
	}
}
